html{
  font-size: 45%;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialized;
  -moz-osx-font-smoothing: grayscale;
}
body *{
  outline: none;
}

@media (min-width: 800px){
  html{
    font-size: 62.5%;
  }
}

@media (min-width: 2700px){
  html{
    font-size: 62.5%;
  }
}